ul, li
{
  padding: 0;
  margin: 0;
}

body
{
  font-family: "Open Sans", sans-serif;
}

.Container
{
  width: 980px;
  margin: 0 auto;
}
.Header
{
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.HeaderSearch
{
  float: left;
  width: 300px
}

.HeaderSearch input
{
  width: 100%;
  padding: 100px;
}

.HeaderNav
{
  overflow: hidden;
}

.HeaderNav-container
{
  list-style: none;
  float: left;
}

.HeaderNav-container li
{
  float: left;
  padding: 0 .5rem;
  position: relative;
}

.HeaderNav-container a
{
  text-decoration: none;
  color: #333;
  font-weight: 700
}

.HeaderNav--right
{
  float: right;
}

.HeaderNav-container li > ul
{
  display: none
}

.HeaderNav-container li:hover > ul
{
  display: block;
  position: absolute;
}